**/.nyc_output/
**/coverage/
**/dist/
**/node_modules/
**/LICENSE
**/NOTICE
.eslintignore
.gitignore
.husky/
.nx/cache/
.prettierignore

**/search-javascript/test/benchmark
**/search-javascript/test/LLM-tests
**/search-javascript/test/converted-tests